@import "../../styles/index.scss";
.social-block {
  display: flex;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid $white;
    margin-left: 5px;
    transition: border 0.2s ease-in-out, text-shadow 0.2s ease-in-out,
      background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

    svg {
      width: 22px;
      height: 22px;
      .cls-1 {
        transition: fill 0.2s ease-in-out;
        fill: $white;
      }
      &:first-child {
        margin-left: 0;
      }
    }

    &:hover {
      border: 1px solid $primaryYellow;
      text-shadow: 1px 1px 5px $black;
      box-shadow: 1px 1px 2px $black;
      transform: translate3d(0 0 0);

      svg .cls-1 {
        fill: $primaryYellow;
      }
    }
  }
}

.social-icon {
  &-icon {
    font-size: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
