$black: #000000;
$white: #ffffff;

$primaryYellow: #ffe400;
$primaryMiddleYellow: #6b6000;
$primaryDarkYellow: #e8d100;

$backgroundPrimary: #2a2a2a;
$backgroundDarkBrown: #212121;
$backgroundBrown: #2e2d2d;
$backgroundSecondary: #e3e3e3;
$backgroundLightGrey: #ebebeb;

$primaryGrey: #f9f9f9;
$primaryLightestGrey: #e6e6e6;
$primaryLightGrey: #f0f0f0;
$primaryDarkGrey: #444444;
$primaryMiddleGrey: #757575;
$secondaryMiddleGrey: #808080;

$textPrimary: #dd3333;

// BICYCLE colors

$PrimaryGreen: #64c29e;
$HeaderText: #4d4959;
$TitleText: #353738;
$PrimaryText: #848789;
$DarkText: #929292;

$PrimaryBorder: #d3d7d9;

// TRAVEL MORE colors

$TravelPrimary: #5474fd;
$TravelPrimaryLight: #496bfe;
$TravelBrown: #232323;
$TravelDarkBrown: #333333;
