/**
* Mixins
*/

@mixin text-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@mixin display-flex(
  $align-items: center,
  $justify-content: center,
  $flex-direction: column
) {
  align-items: $align-items;
  justify-content: $justify-content;
  flex-direction: $flex-direction;
  display: flex;
}
