@import "../../styles/index.scss";

.title-block {
  position: relative;
  @include display-flex;
  width: 100%;
  text-align: center;

  &--align-left {
    align-items: flex-start;
    text-align: left;
  }
  &--align-right {
    align-items: flex-end;
    text-align: right;
  }

  &--title,
  &--second-title {
    z-index: 1;
    width: 100%;
    color: $primaryLightGrey;
    font-family: "Lato", sans-serif;
    font-size: 5.7rem;
    font-weight: 1000;
    line-height: 1em;
    letter-spacing: 0em;
    text-transform: uppercase;

    &-color-primaryMiddleGrey {
      color: $primaryMiddleGrey;
    }
    &-color-primaryDarkYellow {
      color: $primaryDarkYellow;
    }
    &-color-white {
      color: $white;
    }
  }

  &--subtitle {
    position: absolute;
    z-index: 2;
    top: 54px;
    width: max-content;
    max-width: 95%;
    font-family: "Lato", sans-serif;
    font-size: 1.875rem;
    font-weight: $fontWeightBold;
    line-height: 1em;
    letter-spacing: 0em;
    text-transform: uppercase;
  }

  &--description {
    font-family: "Lato", sans-serif;
    font-size: 1rem;
    font-weight: $fontWeightMedium;
    line-height: 1.5em;
    letter-spacing: 0.05em;
  }
  &--description,
  &--subtitle {
    color: $primaryDarkGrey;
    &-color-white {
      color: $white;
    }
  }
}
@media (max-width: $deviceSizeSM) {
  .title-block {
    &--title,
    &--second-title {
      font-size: 4.845rem;
    }
    &--subtitle {
      top: 46px;
      font-size: 1.6rem;
    }
  }
}
@media (max-width: $deviceSizeXS) {
  .title-block {
    &--title,
    &--second-title {
      font-size: 4.12rem;
    }
    &--subtitle {
      top: 34px;
      font-size: 1.36rem;
    }
  }
}
