@import "../../../../styles/index.scss";

.travel-choose {
  width: 100vw;
  max-width: $maxWidth;
  background: right bottom/ cover no-repeat
    url("../../../../assets/images/Travel/choose-fon.png");
  &__content-container {
    min-height: 740px;
    @include display-flex(center, center, row);
    padding: 120px 16px;
    @media (max-width: $deviceSizeMD) {
      flex-direction: column;
      padding: 80px 30px;
    }
    @media (max-width: $deviceSizeXS) {
      padding: 80px 16px;
    }
  }

  &__info-block {
    width: 100%;
    max-width: 50%;
    padding: 16px;
    @media (max-width: $deviceSizeMD) {
      padding: 16px 0;
    }
    @media (max-width: $deviceSizeSM) {
      max-width: 100%;
    }
    &--title {
      margin-bottom: 30px;
      font-family: $fontFamiliTravelSecond;
      font-size: $fontSizeLB;
      text-transform: capitalize;
    }
    &--text {
      margin-top: 30px;
    }
  }
  &__image-block {
    width: 100%;
    max-width: 50%;
    padding-left: 64px;
    @include display-flex(flex-start);
    @media (max-width: $deviceSizeMD) {
      margin-top: 64px;
      padding: 0;
    }
    @media (max-width: $deviceSizeSM) {
      max-width: 100%;
    }
    & > div {
      img {
        width: 100%;
      }
      &:last-child {
        margin-top: 5px;
        align-self: flex-end;
      }
    }
  }
}
